In [1]:
import numpy as np
import pandas as pd
import scipy as sp
import pylab as pl
import scipy.cluster.hierarchy as hier
import scipy.spatial.distance as dist
import matplotlib as plt
%matplotlib inline

In [2]:
gene = pd.read_excel('gene_expression_table4.xlsx')
del gene['Unnamed: 9'] # deleted column without any content
#append each column except the first column which is the gene ID
just_expression=gene.iloc[0:373,3:14]
print(just_expression)
just_expression.as_matrix  # transformed dataframe with expression values to array
just_expression.shape
dist_matrix= dist.pdist(just_expression)
dist_square_matrix = dist.squareform(dist_matrix)

          5       2       6        4        3       1     1.1     5.1     3.1  \
0    3373.5  3757.8  3380.3   4560.2   4682.9  4182.9  5050.6  5820.5  4527.5
1    1383.0  1501.8  1599.8   1433.7   1359.0  1565.5  1264.8  1285.5  1228.7
2     864.7  1184.6  1465.4   1387.8   1414.6  1589.6  1847.7  2322.5  2966.6
3     721.8   940.9   907.6    975.7    865.1   803.3  1417.6   995.4  1650.5
4     419.0   389.1   390.7    356.1    452.8   400.2   866.8   580.3   637.7
5     575.4   439.0   496.2    549.3    667.7   588.9   741.2   661.5   821.5
6      85.9   191.7   113.9     67.4     71.8    89.9   219.8   256.2   267.4
7     959.6  1083.6  1162.8   1130.0   1088.6  1326.4  1484.5  1677.5  1838.5
8    1273.6  1216.4  1254.3   1150.1   1242.5  1153.8  1424.4  1736.1  1548.4
9    4634.5  3749.6  4443.9   3844.0   4063.3  3896.4  3717.0  3725.6  3466.5
10    327.7   385.4   477.3    259.9    485.8   315.3   608.6   788.1   692.1
11   4159.3  4099.5  3874.2   4213.8   2838.1  3795.0  3595.2  2764.0  2975.9
12    277.2   327.3   378.6    359.8    340.5   269.5   599.5   478.9   459.4
13    308.8   305.8   327.1    280.0    157.3   248.0   478.8   395.8   351.3
14   4827.4  4993.9  5193.4   5133.2   5018.0  4738.2  4046.0  4510.3  4727.0
15    316.7   204.0   216.6    279.1    267.2   289.5   561.9   422.2   444.6
16    403.6   320.1   425.9    372.7    462.7   309.8   618.6   779.3   602.0
17    440.9   421.4   260.9    273.8    362.8   280.4   435.1   596.3   646.4
18   2343.9  2899.6  3131.8   2464.1   2992.0  2938.6  3598.5  3566.6  2952.7
19   1307.9  1281.1  1391.2   1128.0   1332.5  1359.5  1602.2  1716.9  1596.6
20   1797.1  2133.6  2571.0   2118.7   1708.6  2045.7  1531.9  1623.8  1542.9
21    665.4   590.2   735.5    561.7    647.5   606.1   768.9   898.6   812.9
22   4481.4  3803.5  4488.6   4041.5   3692.4  3968.0  3185.3  3295.8  3187.4
23    298.3   313.0   250.0    255.9    238.9   177.4   573.3   661.1   677.7
24    866.7   721.6   800.3    744.8    790.7   829.8   968.6   999.5   898.6
25   3409.9  2779.3  3991.5   2790.6   3044.8  2949.5  3150.5  4786.0  4238.7
26   4747.9  4372.2  4045.4   4228.2   4437.5  3606.8  3909.2  3256.9  3679.3
27   5086.2  4930.6  4976.3   5409.2   4775.8  4635.2  3891.6  3651.8  3448.7
28   2525.2  3038.3  2641.5   2373.6   2595.5  2993.4  3805.9  4259.1  3821.3
29   7132.3  5643.1  6467.1   6106.7   5589.9  5421.7  4564.5  4748.6  4456.6
..      ...     ...     ...      ...      ...     ...     ...     ...     ...
343   511.9   558.5   535.3    543.4    492.9   561.6   701.8   777.4   579.0
344  2065.2  1574.9  2201.1   1589.2   1816.9  1784.7  2496.9  2815.8  3028.6
345  4356.0  4961.7  5166.1   4886.8   4344.5  4857.8  3811.7  4042.6  3404.9
346   769.5   829.6   835.7    859.9    827.1  1055.3  1303.0  1372.8  1278.7
347  5147.4  4639.1  4831.1   4647.0   4250.8  4046.1  3928.1  3197.1  3070.8
348  2635.7  2623.9  2098.6   2038.4   1850.1  1977.7  2664.2  2900.1  2626.5
349   302.2   186.7   257.3    304.9    231.1   212.8   317.7   392.7   372.1
350   581.8   610.0   713.3    631.7    711.3   675.3   856.2   785.0   830.1
351   285.1   307.0   384.8    311.4    282.8   301.9   646.0   655.1   639.6
352  2233.2  2229.8  2125.8   1995.7   2081.4  2222.7  1754.9  1760.2  1692.3
353  1531.6  1727.0  2096.7   1878.9   2125.7  1763.7  2148.9  2392.9  2362.5
354   790.2   796.7   764.2    725.9    912.7   716.1  1055.3  1277.3  1214.4
355  8384.8  8715.1  9963.7  10132.5  10417.4  8776.8  7006.7  7292.5  6785.9
356  2231.5  2275.9  2493.8   2103.2   2062.0  2077.5  1619.8  1557.5  1352.9
357  1697.7  2136.8  1465.2   1363.2   2264.5  1958.8  2853.8  2985.5  2420.5
358  2206.7  2112.1  2358.9   2083.6   2194.5  1663.6  1741.9  1637.5  1700.1
359   309.3   210.0   231.0    261.6    194.9   210.3   590.0   396.2   419.0
360  2414.5  2532.2  2511.6   2488.7   2190.3  2305.0  2239.6  2083.7  2047.7
361   122.3   193.4   176.0     84.9    169.5   134.2   367.7   344.8   342.2
362  6650.5  6476.9  7431.9   6394.3   6820.7  6272.7  5747.5  5516.6  5014.4
363  4015.4  4087.7  4338.9   4071.5   3354.8  3512.3  3474.2  3300.9  2745.1
364   416.0   828.5   855.8    514.9    358.0   570.4  1074.1   886.6  1184.2
365   437.8   531.7   562.0    575.9    597.4   691.6   787.9   904.7   796.3
366  1844.6  2392.3  2596.7   2322.2   2195.0  2333.4  4927.7  4718.8  4469.8
367  2985.9  2435.9  2540.3   2483.5   2346.4  2724.9  1217.1  2026.0  2155.9
368    55.8   143.6   112.7     61.6    134.3   136.0   219.5   232.8   216.9
369    48.5   137.4   188.4    154.3    204.3   154.9   270.6   251.0   335.5
370   399.1   452.6   484.8    367.3    471.4   521.3   820.0   869.1   620.6
371   292.2   274.4   293.9    393.8    468.0   439.5   416.5   575.9   661.4
372   260.7   495.6   397.6    406.8    525.7   498.1   570.6   740.8   671.0

        2.1     6.1
0    4886.4  5419.0
1    1134.7  1221.3
2    2562.3  2107.0
3    1348.6  1193.1
4     554.6   590.9
5     719.3   741.2
6     205.3   196.4
7    1402.2  1516.2
8    1198.5  1764.5
9    3102.8  3601.7
10    648.6   683.8
11   2786.5  2576.2
12    467.5   502.1
13    422.2   425.7
14   4427.3  4438.5
15    306.4   386.2
16    560.1   613.6
17    441.2   558.4
18   3875.7  3794.9
19   1345.3  1708.4
20   1451.1  1625.9
21    729.9   845.1
22   2396.4  3436.1
23    211.1   565.4
24    865.3  1082.3
25   4285.3  4630.1
26   3786.3  3054.6
27   3575.0  3665.0
28   3319.5  3625.9
29   5863.9  4623.1
..      ...     ...
343   873.1   734.6
344  3040.7  3017.0
345  4098.4  3774.4
346  1300.3  1226.0
347  3576.6  3352.9
348  2822.8  3031.3
349   385.9   482.9
350   778.2   716.2
351   694.6   666.6
352  1679.5  1712.1
353  2210.3  2497.5
354  1011.4   816.1
355  7186.0  7083.6
356  2080.5  1940.1
357  2846.0  1842.5
358  1731.3  1925.2
359   385.3   525.6
360  1947.0  1874.9
361   304.5   291.8
362  5650.2  5691.5
363  3175.3  3086.8
364  1334.3  1105.0
365   787.8   772.2
366  4882.3  4339.1
367   764.3  1278.8
368   227.3   271.0
369   316.7   305.1
370   795.0   825.2
371   731.3   588.6
372   617.8   636.7

[373 rows x 11 columns]

# Difference of Means

In [3]:
BRCA1_plus= just_expression.iloc[:,0:6]

BRCA1_minus= just_expression.iloc[:,7:12]

BRCA1_plus_means=np.mean(BRCA1_plus.T)

BRCA1_minus_means=np.mean(BRCA1_minus.T)

concatenated_means= np.c_[BRCA1_plus_means,BRCA1_minus_means]

expression_change_abs= np.abs(np.diff(concatenated_means))

expression_change_raw= np.diff(concatenated_means)

concatenated_means=np.append(expression_change_abs,expression_change_raw,1) # appended raw and abs value of means

In [4]:
labels=gene.iloc[0:373,0:3] # isolated gene names and functions
names=['mean','raw mean']
mean_pandas2= pd.DataFrame(concatenated_means,columns=names) # transformed concatenated means to dataframe

mean_append= np.append(labels,mean_pandas2,1) # appended gene labels to concatenated means

names2= ['gene name', 'symbol','function','abs value mean difference','raw mean difference']
labels_and_means =pd.DataFrame(mean_append,columns=names2)

sorted_means=labels_and_means.sort(['abs value mean difference'],ascending=False)
#print(sorted_means)
selected_top_20 = sorted_means.iloc[0:20,]
selected_top_20

/Applications/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:10: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

,gene name,symbol,function,abs value mean difference,raw mean difference
33,J00105,B2M,MHC,5113.19,5113.19
89,U78525,EIF3S9,translation,4419.59,-4419.59
193,U71088,MAP2K5,signal transduction,3964.28,-3964.28
42,M19311,CALM1,cell cycle,3690.3,3690.3
153,M97796,ID2,transcription,3498.07,3498.07
63,M20471,CLTA,structure,3286.91,-3286.91
302,U53347,SLC1A5,transport,3277.22,-3277.22
318,M34338,SRM,synthase,2935.18,-2935.18
138,D49824,HLAB-null,receptor,2921.48,2921.48
242,Y12711,PBP,receptor,2904.28,2904.28
104,M88279,FKBP4,signal transduction,2659.8,-2659.8
312,X04654,SNRP70,RNA processing,2607.48,-2607.48
97,S80437,FASN,lipid metabolism,2364.55,-2364.55
177,D42040,KIAA9001,unknown,2338.33,-2338.33
366,X56199,XIST,chromosome inactivation,2321.8,2321.8
355,M96982,U2AF1,transcription,2311.38,-2311.38
299,D28423,SFSR3,transcription,2263.62,2263.62
74,M21186,CYBA,oxidase,2236.91,2236.91
322,M86737,SSRP1,DNA replication,2050.99,-2050.99
293,Z11793,SEPP1,extracellular oxidant,2018.83,2018.83

In [5]:
#from pandas import *
#idx = Int64Index([np.arange(373)])9
#index_sorted_means = DataFrame(index = np.arange(sorted_means.size), data =(sorted_means))
#index_sorted_means
#sorted_means
names_labels=['labels']
index_sorted_means = pd.DataFrame(np.arange(373),columns=names_labels)

data_names= ['gene order (high difference to low)','gene name', 'symbol','function','abs value mean difference','raw mean difference']
a = np.append(index_sorted_means, sorted_means,1)
my_labels= pd.DataFrame(a, columns=data_names)
my_labels2= my_labels[my_labels.function !='unknown']
my_labels2_select = my_labels2.loc[0:20,]
my_labels2_select

,gene order (high difference to low),gene name,symbol,function,abs value mean difference,raw mean difference
0,0,J00105,B2M,MHC,5113.19,5113.19
1,1,U78525,EIF3S9,translation,4419.59,-4419.59
2,2,U71088,MAP2K5,signal transduction,3964.28,-3964.28
3,3,M19311,CALM1,cell cycle,3690.3,3690.3
4,4,M97796,ID2,transcription,3498.07,3498.07
5,5,M20471,CLTA,structure,3286.91,-3286.91
6,6,U53347,SLC1A5,transport,3277.22,-3277.22
7,7,M34338,SRM,synthase,2935.18,-2935.18
8,8,D49824,HLAB-null,receptor,2921.48,2921.48
9,9,Y12711,PBP,receptor,2904.28,2904.28
10,10,M88279,FKBP4,signal transduction,2659.8,-2659.8
11,11,X04654,SNRP70,RNA processing,2607.48,-2607.48
12,12,S80437,FASN,lipid metabolism,2364.55,-2364.55
14,14,X56199,XIST,chromosome inactivation,2321.8,2321.8
15,15,M96982,U2AF1,transcription,2311.38,-2311.38
16,16,D28423,SFSR3,transcription,2263.62,2263.62
17,17,M21186,CYBA,oxidase,2236.91,2236.91
18,18,M86737,SSRP1,DNA replication,2050.99,-2050.99
19,19,Z11793,SEPP1,extracellular oxidant,2018.83,2018.83
20,20,D29643,DDOST,transferase,1881.39,1881.39

In [ ]:
from ggplot import *
limit_graph = my_labels2.iloc[0:373, :]
ggplot(limit_graph, aes(x = 'gene order (high difference to low)', y = 'abs value mean difference', color = 'function')) + \
    geom_point(size = 45) + \
    ggtitle("Difference of Means For All 373 Genes")

In [ ]:
from ggplot import *
ggplot(limit_graph, aes(x = 'gene order (high difference to low)', y = 'raw mean difference', color = 'function')) + \
    geom_point(size = 100) + \
    ggtitle("Difference of Mean Gene Expression For All Genes (BRCA high - BRCA low)", )

In [ ]:
from ggplot import *
limit_graph = my_labels2.iloc[0:20, :]
ggplot(limit_graph, aes(x = 'gene order (high difference to low)', y = 'abs value mean difference', color = 'function')) + \
    geom_point(size = 45) + \
    ggtitle("Difference of Means For Top 20 Genes")

In [ ]:
from ggplot import *
ggplot(limit_graph, aes(x = 'gene order (high difference to low)', y = 'raw mean difference', color = 'function')) + \
    geom_point(size = 100) + \
    ggtitle("Difference of Mean Gene Expression For Top 20 (BRCA high - BRCA low)", )